name: Deploy to Azure App Service

on:
  push:
    branches:
      - main
  workflow_dispatch:

defaults:
  run:
    working-directory: server-side-events/server

env:
  AZURE_WEBAPP_NAME: 'testsse'    # Set this to your application's name
  DOTNET_VERSION: '9.0.x'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v4

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    
    - name: 'Restore dependencies'
      run: dotnet restore
    
    - name: 'Build project'
      run: dotnet build --configuration Release --no-restore
    
    - name: 'Publish project'
      run: dotnet publish --configuration Release --no-build --output ${{ github.workspace }}/publish
    
    - name: 'Deploy to Azure Web App'
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: ${{ github.workspace }}/publish
